.article-list {
  text-align: center;
  margin: $medium-size auto;
  width: 60%;

  & a:hover {
    text-decoration: none;
  }
}

.article-list__title {
  font-size: $font-medium;
  font-family: $sans-serif;
}

.article-list__subtitle {
  font-size: $font-small;
  font-family: $sans-serif;
  color: $grey;
}
