// Fonts
$sans-serif: "Cabin", sans-serif;
$serif: "Markazi Text", serif;
$font-title: 4rem;
$font-extra-large: 2.8rem;
$font-large: 2.2rem;
$font-medium: 1.8rem;
$font-small: 1.4rem;

// Colour
$grey: #758ebf;

// Spacing
$extra-small-size: 0.8rem;
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$extra-large-size: 4.8rem;

// Misc
$box-shadow: 5px 5px 5px 0px lighten($grey, 20%);
